---
layout: default
---

<div class="container">
	<div id="intro">
		<div id="intro-header">
			{% if site.profile_picture %}
			<img id="intro-img" src="{{ site.profile_picture }}">
			{% endif %}
			<h2>
				{% if site.site_heading %}
				{{ site.site_heading }}
				{% else %}
				{{ site.title }}
				{% endif %}
			</h2>
		</div>
		<p style="margin-top: 30px;">
		<div class="content">
			I'm a first-year Ph.D. student in Computer Science at 
			<a href="http://berkeley.edu">UC Berkeley</a>.
			I'm in <a href="https://bar.eecs.berkeley.edu">Berkeley Architecture Research Group</a> at
			<a href="https://adept.eecs.berkeley.edu/">ADEPT Lab</a>, advised by <a href="https://people.eecs.berkeley.edu/~krste/">Krste Asanović</a>.
			I have earned B.S./M.S. in Computer Science from
			<a href="http://postech.ac.kr/eng/">POSTECH</a>, advised by
			<a href="https://hpcs.snu.ac.kr/~jangwoo/">Jangwoo Kim</a>.
			I'm interested in large-scale computer systems and hardware/system-level security.
		</div> <!--content-->
		</p>
	</div> <!--container-->
	<div class="content cv">
		<h3>
			<span>Education</span>
		</h3>

		<div class="cv-item">
			<div class="cv-title">
				<b>University of California, Berkeley, CA</b>
			</div>
			<div class="cv-content">
				Ph.D. in Computer Science, Aug 2017 - current
			</div>
		</div>

		<div class="cv-item">
			<div class="cv-title">
				<b>Pohang University of Science and Technology, South Korea</b>
			</div>
			<div class="cv-content">
				M.S. in Computer Science and Engineering, Mar 2016 - Aug 2017
			</div>
		</div>

		<div class="cv-item">
			<div class="cv-title">
				<b>Pohang University of Science and Technology, South Korea</b>
			</div>
			<div class="cv-content">
				B.S. in Computer Science and Engineering, Mar 2009 - Feb 2016
			</div>
		</div>

		
		<h3>
			<span>Publications</span>
		</h3>
		<div class="cv-item" itemscope itemtype="http://schema.org/PublicationEvent">
			<div class="cv-title">
				<b itemprop="organizer">[ISCA'18]</b> <b itemprop="name">Flexon: A Flexible Digital Neuron for Efficient Spiking Neural Network Simulations</b>
				<br/>
				<u itemprop="contributor">Dayeol Lee</u>, Gwangmu Lee, Dongup Kwon, Sunghwa Lee, Youngsok Kim, and Jangwoo Kim
			</div>
			<div class="cv-content" itemprop="publishedBy">
				In proceedings of the 45th International Symposium on Computer Architecture (ISCA), Los Angeles, CA, June 2018 (to appear) 
			</div>
		</div>
		<div class="cv-item" itemscope itemtype="http://schema.org/PublicationEvent">
			<div class="cv-title">
				<b itemprop="organizer">[ISCA'18]</b><b itemprop="name"> FireSim: FPGA-Accelerated Cycle-Exact Scale-Out System Simulation in the Public Cloud</b>
				<br/>
				Sagar Karandikar, Howard Mao, Donggyu Kim, David Biancolin, Alon Amid, <u
					itemprop="contributor">Dayeol Lee</u>, Nathan
				Pemberton, Emmanuel Amaro, Colin Schmidt, Aditya Chopra, Qijing Huang, Kyle Kovacs, Borivoje
				Nikolic, Randy Katz, Jonathan Bachrach, and Krste Asanović.
			</div>
			<div class="cv-content" itemprop="publishedBy">
				In proceedings of the 45th International Symposium on Computer Architecture (ISCA), Los Angeles, CA, June 2018 (to appear) 
			</div>
		</div>
		<div class="cv-item" itemscope itemtype="http://schema.org/PublicationEvent">
			<div class="cv-title">
				<b>[M.S. Thesis]</b><b itemprop="name"> Low-power Spiking Neuron Microarchitecture</b>
				<br><u itemprop="contributor">Dayeol Lee</u> (Advisor: Jangwoo Kim)
			</div>
			<div class="cv-content" itemprop="description">
				M.S. Thesis, Pohang University of Science and Technology, South Korea, August 2018
			</div>
		</div>



		<h3>
			<span>Experience</span>
		</h3>

		<div class="cv-item">
			<div class="cv-title">
				<b>Penta Security Systems Inc., South Korea</b>
			</div>
			<div class="cv-content">
				System/Software Engineer, Apr 2013 - Jan 2015
			</div>
		</div>

		<div class="cv-item">
			<div class="cv-title">
				<b>WINS Co. Ltd., South Korea</b>
			</div>
			<div class="cv-content">
				Network Security Researcher, Mar 2012 - Apr 2013
			</div>
		</div>

		<h3>
			<span>Honors & Awards</span>
		</h3>

		<div class="cv-item">
			<div class="cv-title">
				<b>Kwanjeong Ph.D. Scholarship</b>
			</div>
			<div class="cv-content">
				Kwanjeong Educational Foundation, Financial Aid, Aug 2017 - Jul 2021
			</div>
		</div>

		<div class="cv-item">
			<div class="cv-title">
				<b>Undergraduate Research Program (URP) Fellowship</b>
			</div>
			<div class="cv-content">
				POSTECH, Financial Aid/Award of Excellence, Jun 2015 - Nov 2015
			</div>
		</div>

		<div class="cv-item">
			<div class="cv-title">
				<b>National Science & Technology Scholarship</b>
			</div>
			<div class="cv-content">
				Korea Student Aid Foundation, Financial Aid, Mar 2015 - Feb 2016
			</div>
		</div>

		<div class="cv-item">
			<div class="cv-title">
				<b>Samsung JFL Scholarship</b>
			</div>
			<div class="cv-content">
				Samsung Electronics, Financial Aid, Mar 2008 - Feb 2011
			</div>
		</div>

		<div class="cv-item">
			<div class="cv-title">
				<b>DEFCON CTF World Final, Las Vegas</b>
			</div>
			<div class="cv-content">
				3rd place, Aug 2010
			</div>
		</div>

	</div>
</div>
